@model DTO.ChuDeDTO
@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form action="/admin/chude/Xoa/@Model.MaChuDe">
    <h4>@Model.TenChuDe</h4>
    <h5>Xóa Luôn Sách Có Chủ Đề Này!?</h5>
    <input type="submit" value="OK" />
    <a href="/Admin/chude"><input type="button" value="quay lại!" /></a>
</form>

