
@{
    ViewBag.Title = "dichvu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="page-option">
        <h1 class="title">
            <span>Dịch vụ</span>
        </h1>
        <div class="page-option-block">
            <p style="margin-top: 8px; margin-bottom: 8px;"></p><div style="text-align: justify;"><span style="line-height: 1.42857; font-weight: bold;">ĐỀU KHOẢN SỬ DỤNG</span></div><div style="text-align: justify;"><span style="line-height: 1.42857;">ĐIỀU KHOẢN SỬ DỤNG
Chào mừng quí khách đến mua sắm tại FAHASA. Sau khi truy cập vào website FAHASA để tham khảo hoặc mua sắm, quí khách đã đồng ý tuân thủ và ràng buộc với những quy định của FAHASA. Vui lòng xem kỹ các quy định và hợp tác với chúng tôi để xây dựng 1 website FAHASA ngày càng thân thiện và phục vụ tốt những yêu cầu của chính quí khách. Ngoài ra, nếu có bất cứ câu hỏi nào về những thỏa thuận trên đây, vui lòng email cho chúng tôi qua địa chỉ support@fahasa.com.

Tài khoản của khách hàng

Khi sử dụng dịch vụ FAHASA, quí khách sẽ cung cấp cho chúng tôi thông tin về địa chỉ email, mật khẩu và họ tên để có được 1 tài khoản tại đây. Việc sử dụng và bảo mật thông tin tài khoản là trách nhiệm và quyền lợi của quí khách khi sử dụng FAHASA. Ngoài ra, những thông tin khác trong tài khoản như tên tuổi, địa chỉ.... là những thông tin sẽ giúp FAHASA phục vụ quí khách tốt nhất. Trong trường hợp thông tin do quí khách cung cấp không đầy đủ hoặc sai dẫn đến việc không thể giao hàng cho quí khách, chúng tôi có quyền đình chỉ hoặc từ chối phục vụ, giao hàng mà không phải chịu bất cứ trách nhiệm nào đối với quí khách. Khi có những thay đổi thông tin của quí khách, vui lòng cập nhật lại thông tin trong tài khoản tại FAHASA. Quí khách phải giữ kín mật khẩu và tài khoản, hoàn toàn chịu trách nhiệm đối với tất cả các hoạt động diễn ra thông qua việc sử dụng mật khẩu hoặc tài khoản của mình. Quí khách nên đảm bảo thoát khỏi tài khoản tại FAHASA sau mỗi lần sử dụng để bảo mật thông tin của mình

Quyền lợi bảo mật thông tin của khách hàng

Khi sử dụng dịch vụ tại website FAHASA, quí khách được đảm bảo rằng những thông tin cung cấp cho chúng tôi sẽ chỉ được dùng để nâng cao chất lượng dịch vụ dành cho khách hàng của FAHASA và sẽ không được chuyển giao cho 1 bên thứ ba nào khác vì mục đích thương mại. Thông tin của quí khách tại FAHASA sẽ được chúng tôi bảo mật và chỉ trong trường hợp pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.

Trách nhiệm của khách hàng khi sử dụng dịch vụ của FAHASA

Quí khách tuyệt đối không được sử dụng bất kỳ công cụ, phương pháp nào để can thiệp, xâm nhập bất hợp pháp vào hệ thống hay làm thay đổi cấu trúc dữ liệu tại website FAHASA. Quí khách không được có những hành động ( thực hiện, cổ vũ) việc can thiệp, xâm nhập dữ liệu của FAHASA cũng như hệ thống máy chủ của chúng tôi Ngoài ra, xin vui lòng thông báo cho quản trị web của FAHASA ngay khi quí khách phát hiện ra lỗi hệ thống theo số điện thoại (84.08) 38388832 - (84-08) 36026700 hoặc email support@fahasa.com

Quí khách không được đưa ra những nhận xét, đánh giá có ý xúc phạm, quấy rối, làm phiền hoặc có bất cứ hành vi nào thiếu văn hóa đối với người khác. Không nêu ra những nhận xét có tính chính trị ( tuyên truyền, chống phá, xuyên tạc chính quyền), kỳ thị tôn giáo, giới tính, sắc tộc.... Tuyệt đối cấm mọi hành vi mạo nhận, cố ý tạo sự nhầm lẫn mình là một khách hàng khác hoặc là thành viên Ban Quản Trị FAHASA

Trách nhiệm và quyền lợi của FAHASA

Trong trường hợp có những phát sinh ngoài ý muốn hoặc trách nhiệm của mình, FAHASA sẽ không chịu trách nhiệm về mọi tổn thất phát sinh. Ngoài ra, chúng tôi không cho phép các tổ chức, cá nhân khác quảng bá sản phẩm tại website FAHASA mà chưa có sự đồng ý bằng văn bản từ FAHASA Corporation. Các thỏa thuận và quy định trong Điều khoản sử dụng có thể thay đổi vào bất cứ lúc nào nhưng sẽ được FAHASA Corporation thông báo cụ thể trên website FAHASA</span></div><p></p>
        </div>

        <div class="page-option-block">
            <p style="margin-top: 8px; margin-bottom: 8px;"></p><div style="text-align: justify;"><span style="line-height: 1.42857; font-weight: bold;">CHÍNH SÁCH BẢO MẬT</span></div><div style="text-align: justify;">
                <span style="line-height: 1.42857;">
                    I. Thông tin bảo mật.
                    Bảo mật thông tin khách hàng là một trong những ưu tiên hàng đầu nhằm tạo điều kiện mua sắm tốt nhất cho quý khách tại FAHASA. Chúng tôi hiểu sử dụng hợp lý và bảo mật thông tin sẽ thể hiện sự quan tâm của FAHASA dành cho quí khách. Vì thế, FAHASA cam kết việc sử dụng thông tin trên sẽ chỉ nhằm nâng cao chất lượng dịch vụ khách hàng và tạo môi trường mua sắm an tòan, tiện lợi tại FAHASA. Cụ thể, thông tin cá nhân của quý khách chỉ dùng với các mục đích sau:
                    1. Số điện thoại và địa chỉ Email của quý khách được dùng nhằm nâng cao chất lượng dịch vụ hỗ trợ khách hàng.

                    2. Địa chỉ của quý khách chỉ được dùng để Fahasa thực thiện việc giao hàng mà quý khách đã đặt trên website Fahasa.com.

                    3. Hành vị mua hàng của quý khách chỉ giúp Fahasa tạo một trải nghiệm mua sắm tốt hơn cho quý khách.

                    II. Fahasa cam kết bảo vệ thông tin của khách hàng

                    FAHASA cam đoan sẽ không bán, chia sẻ dẫn đến làm lộ thông tin cá nhân của quý khách vì bất cứ mục đích gì. Tất cả thông tin giao dịch giữa quý khách và FAHASA sẽ được bảo mật qua phần mềm Secure Sockets Layer (SSL) bằng cách mã hóa tất cả thông tin quý khách nhập vào.
                    FAHASA cam kết không lưu lại bất kỳ thông tin tài khoản ngân hàng, thông tin thẻ tín dụng và thông tin tài chính của quý khách.
                    III. Trách nhiệm của khách hàng.

                    Quý khách không nên trao đổi những thông tin tài khoản, thanh toán, giao nhận của mình cho 1 bên thứ 3 nào khác để tránh rò rỉ thông tin. Khi sử dụng chung máy tính với nhiều người, vui lòng thoát khỏi tài khoản mỗi khi không sử dụng dịch vụ của FAHASA nữa để tự bảo vệ thông tin về mật khẩu truy cập của mình.
                    Ngoài ra, quý khách tuyệt đối không được sử dụng bất kỳ hình thức nào để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Chúng tôi nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống website. Mọi vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết. Mọi thông tin của quí khách tại FAHASA sẽ được chúng tôi bảo mật nhưng trong trường hợp pháp luật yêu cầu, chúng tôi buộc phải cung cấp thông tin này cho cơ quan pháp luật
                </span>
            </div><p></p>
        </div>


    </div>
</div>