<div>
    <div class="menu-account">
        <h3>
            <span>
                QUẢN LÍ SẢN PHẨM
            </span>
        </h3>
        <ul>
            <li>
                <a href="/admin/qlsach/index">
                    <i class="fas fa-book"></i> Quản Lí Sản Phẩm
                </a>
            </li>
            <li><a href="/dang-ky.html"><i class="fa fa-key"></i>Quản Lí Tài Khoản</a></li>
            <li><a href="/thay-doi-mat-khau.html"><i class="fa fa-key"></i>Quản Lí Đơn Hàng</a></li>
        </ul>
    </div>
</div>
